Frontend/PortalDesafiliacionWeb/Connected Services/ServicioWS/ClienteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="asignarPrioridadCliente" type="tns:asignarPrioridadCliente" />
  <xs:element name="asignarPrioridadClienteResponse" type="tns:asignarPrioridadClienteResponse" />
  <xs:element name="valibleParaRecompensas" type="tns:valibleParaRecompensas" />
  <xs:element name="valibleParaRecompensasResponse" type="tns:valibleParaRecompensasResponse" />
  <xs:complexType name="asignarPrioridadCliente">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarPrioridadClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:prioridad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="prioridad">
    <xs:sequence>
      <xs:element name="cantidadOfertas" type="xs:int" />
      <xs:element name="idPrioridad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valibleParaRecompensas">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valibleParaRecompensasResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>