Frontend/PortalDesafiliacionWeb/Connected Services/ServicioWS/EquipoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.pdm.pucp.edu.pe/" targetNamespace="http://ws.pdm.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarEquipo" type="tns:insertarEquipo" />
  <xs:element name="insertarEquipoResponse" type="tns:insertarEquipoResponse" />
  <xs:element name="listarEquipos" type="tns:listarEquipos" />
  <xs:element name="listarEquiposResponse" type="tns:listarEquiposResponse" />
  <xs:complexType name="listarEquipos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEquiposResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:equipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="equipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="marca" type="xs:string" />
      <xs:element minOccurs="0" name="modelo" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEquipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="equipo" type="tns:equipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEquipoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="categoria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALTA" />
      <xs:enumeration value="MEDIA" />
      <xs:enumeration value="BAJA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>