Frontend/PortalDesafiliacionWeb/Connected Services/ServicioWS/EquipoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.pdm.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EquipoWS" targetNamespace="http://ws.pdm.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PortalWS/EquipoWS?xsd=1" namespace="http://ws.pdm.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarEquipos">
    <part name="parameters" element="tns:listarEquipos" />
  </message>
  <message name="listarEquiposResponse">
    <part name="parameters" element="tns:listarEquiposResponse" />
  </message>
  <message name="buscarEquipoPorId">
    <part name="parameters" element="tns:buscarEquipoPorId" />
  </message>
  <message name="buscarEquipoPorIdResponse">
    <part name="parameters" element="tns:buscarEquipoPorIdResponse" />
  </message>
  <message name="insertarEquipo">
    <part name="parameters" element="tns:insertarEquipo" />
  </message>
  <message name="insertarEquipoResponse">
    <part name="parameters" element="tns:insertarEquipoResponse" />
  </message>
  <message name="modificarEquipo">
    <part name="parameters" element="tns:modificarEquipo" />
  </message>
  <message name="modificarEquipoResponse">
    <part name="parameters" element="tns:modificarEquipoResponse" />
  </message>
  <message name="eliminarEquipo">
    <part name="parameters" element="tns:eliminarEquipo" />
  </message>
  <message name="eliminarEquipoResponse">
    <part name="parameters" element="tns:eliminarEquipoResponse" />
  </message>
  <portType name="EquipoWS">
    <operation name="listarEquipos">
      <input wsam:Action="http://ws.pdm.pucp.edu.pe/EquipoWS/listarEquiposRequest" message="tns:listarEquipos" />
      <output wsam:Action="http://ws.pdm.pucp.edu.pe/EquipoWS/listarEquiposResponse" message="tns:listarEquiposResponse" />
    </operation>
    <operation name="buscarEquipoPorId">
      <input wsam:Action="http://ws.pdm.pucp.edu.pe/EquipoWS/buscarEquipoPorIdRequest" message="tns:buscarEquipoPorId" />
      <output wsam:Action="http://ws.pdm.pucp.edu.pe/EquipoWS/buscarEquipoPorIdResponse" message="tns:buscarEquipoPorIdResponse" />
    </operation>
    <operation name="insertarEquipo">
      <input wsam:Action="http://ws.pdm.pucp.edu.pe/EquipoWS/insertarEquipoRequest" message="tns:insertarEquipo" />
      <output wsam:Action="http://ws.pdm.pucp.edu.pe/EquipoWS/insertarEquipoResponse" message="tns:insertarEquipoResponse" />
    </operation>
    <operation name="modificarEquipo">
      <input wsam:Action="http://ws.pdm.pucp.edu.pe/EquipoWS/modificarEquipoRequest" message="tns:modificarEquipo" />
      <output wsam:Action="http://ws.pdm.pucp.edu.pe/EquipoWS/modificarEquipoResponse" message="tns:modificarEquipoResponse" />
    </operation>
    <operation name="eliminarEquipo">
      <input wsam:Action="http://ws.pdm.pucp.edu.pe/EquipoWS/eliminarEquipoRequest" message="tns:eliminarEquipo" />
      <output wsam:Action="http://ws.pdm.pucp.edu.pe/EquipoWS/eliminarEquipoResponse" message="tns:eliminarEquipoResponse" />
    </operation>
  </portType>
  <binding name="EquipoWSPortBinding" type="tns:EquipoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarEquipos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEquipoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEquipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEquipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEquipo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EquipoWS">
    <port name="EquipoWSPort" binding="tns:EquipoWSPortBinding">
      <soap:address location="http://localhost:8080/PortalWS/EquipoWS" />
    </port>
  </service>
</definitions>