Frontend/PortalDesafiliacionWeb/Connected Services/ServicioWS/PlantillaOfertaModalidadWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.pdm.pucp.edu.pe/" targetNamespace="http://ws.pdm.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarModalidadesPorPlantilla" type="tns:listarModalidadesPorPlantilla" />
  <xs:element name="listarModalidadesPorPlantillaResponse" type="tns:listarModalidadesPorPlantillaResponse" />
  <xs:complexType name="listarModalidadesPorPlantilla">
    <xs:sequence>
      <xs:element name="idPlantilla" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarModalidadesPorPlantillaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:modalidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modalidad">
    <xs:sequence>
      <xs:element name="idModalidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>