Frontend/PortalDesafiliacionWeb/Connected Services/ServicioWS/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/PortalWS/UsuarioWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerUsuarioPorCorreoODocumento">
    <part name="parameters" element="tns:obtenerUsuarioPorCorreoODocumento" />
  </message>
  <message name="obtenerUsuarioPorCorreoODocumentoResponse">
    <part name="parameters" element="tns:obtenerUsuarioPorCorreoODocumentoResponse" />
  </message>
  <message name="existePorCorreo">
    <part name="parameters" element="tns:existePorCorreo" />
  </message>
  <message name="existePorCorreoResponse">
    <part name="parameters" element="tns:existePorCorreoResponse" />
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario" />
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse" />
  </message>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios" />
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse" />
  </message>
  <message name="buscarTipoUsuario">
    <part name="parameters" element="tns:buscarTipoUsuario" />
  </message>
  <message name="buscarTipoUsuarioResponse">
    <part name="parameters" element="tns:buscarTipoUsuarioResponse" />
  </message>
  <message name="obtenerUsuario">
    <part name="parameters" element="tns:obtenerUsuario" />
  </message>
  <message name="obtenerUsuarioResponse">
    <part name="parameters" element="tns:obtenerUsuarioResponse" />
  </message>
  <message name="existePorDocumento">
    <part name="parameters" element="tns:existePorDocumento" />
  </message>
  <message name="existePorDocumentoResponse">
    <part name="parameters" element="tns:existePorDocumentoResponse" />
  </message>
  <message name="verificarUsuario">
    <part name="parameters" element="tns:verificarUsuario" />
  </message>
  <message name="verificarUsuarioResponse">
    <part name="parameters" element="tns:verificarUsuarioResponse" />
  </message>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="obtenerUsuarioPorCorreoODocumento">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/obtenerUsuarioPorCorreoODocumentoRequest" message="tns:obtenerUsuarioPorCorreoODocumento" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/obtenerUsuarioPorCorreoODocumentoResponse" message="tns:obtenerUsuarioPorCorreoODocumentoResponse" />
    </operation>
    <operation name="existePorCorreo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/existePorCorreoRequest" message="tns:existePorCorreo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/existePorCorreoResponse" message="tns:existePorCorreoResponse" />
    </operation>
    <operation name="eliminarUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
    </operation>
    <operation name="listarUsuarios">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarUsuariosRequest" message="tns:listarUsuarios" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
    </operation>
    <operation name="buscarTipoUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/buscarTipoUsuarioRequest" message="tns:buscarTipoUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/buscarTipoUsuarioResponse" message="tns:buscarTipoUsuarioResponse" />
    </operation>
    <operation name="obtenerUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/obtenerUsuarioRequest" message="tns:obtenerUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/obtenerUsuarioResponse" message="tns:obtenerUsuarioResponse" />
    </operation>
    <operation name="existePorDocumento">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/existePorDocumentoRequest" message="tns:existePorDocumento" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/existePorDocumentoResponse" message="tns:existePorDocumentoResponse" />
    </operation>
    <operation name="verificarUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/verificarUsuarioRequest" message="tns:verificarUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/verificarUsuarioResponse" message="tns:verificarUsuarioResponse" />
    </operation>
    <operation name="insertarUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerUsuarioPorCorreoODocumento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="existePorCorreo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarTipoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="existePorDocumento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/PortalWS/UsuarioWS" />
    </port>
  </service>
</definitions>