Frontend/PortalDesafiliacionWeb/Connected Services/ServicioWS/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarTipoUsuario" type="tns:buscarTipoUsuario" />
  <xs:element name="buscarTipoUsuarioResponse" type="tns:buscarTipoUsuarioResponse" />
  <xs:element name="eliminarUsuario" type="tns:eliminarUsuario" />
  <xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse" />
  <xs:element name="existePorCorreo" type="tns:existePorCorreo" />
  <xs:element name="existePorCorreoResponse" type="tns:existePorCorreoResponse" />
  <xs:element name="existePorDocumento" type="tns:existePorDocumento" />
  <xs:element name="existePorDocumentoResponse" type="tns:existePorDocumentoResponse" />
  <xs:element name="insertarUsuario" type="tns:insertarUsuario" />
  <xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse" />
  <xs:element name="listarUsuarios" type="tns:listarUsuarios" />
  <xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse" />
  <xs:element name="obtenerUsuario" type="tns:obtenerUsuario" />
  <xs:element name="obtenerUsuarioPorCorreoODocumento" type="tns:obtenerUsuarioPorCorreoODocumento" />
  <xs:element name="obtenerUsuarioPorCorreoODocumentoResponse" type="tns:obtenerUsuarioPorCorreoODocumentoResponse" />
  <xs:element name="obtenerUsuarioResponse" type="tns:obtenerUsuarioResponse" />
  <xs:element name="verificarUsuario" type="tns:verificarUsuario" />
  <xs:element name="verificarUsuarioResponse" type="tns:verificarUsuarioResponse" />
  <xs:complexType name="insertarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="primerNombre" type="xs:string" />
      <xs:element minOccurs="0" name="segundoNombre" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="primerNombre" type="xs:string" />
      <xs:element minOccurs="0" name="segundoNombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorCorreoODocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="documentoOCorreo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorCorreoODocumentoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existePorDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existePorDocumentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="verificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="documentoOCorreo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existePorCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="existePorCorreoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarTipoUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarTipoUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>